// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body, html {
    font-family: "Lato", sans-serif;
    // background: linear-gradient(to bottom, white 0%,#fff5f9 40%,#fffbf5 100%);
    height: 100%;
    line-height: 1.5;

    margin: 0;
    padding: 0;

    color: black;
    box-sizing: border-box;
    background-color: #e6e9f1;
}
:root {
    text-size-adjust: 100%;

    // TODO
    --h1-blue: #121f3d;
    --standard-blue: #062160;
    --light-blue: #d3d9e7;
}
.active {
    color: white;
}
/*
/////// general stuff ///////
*/
.buttons {
    display: flex;
    gap: 0.5em;
}
h1 {
    margin: 0;
    font-size: 1.5em;
    color: var(--h1-blue);
    border-bottom: 2px solid var(--h1-blue);
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.2em;
    margin: 0;
    color: white;
    padding: 1.5em;
    padding-top: 0.75em;
    padding-bottom: 0.5em;
    background-color: var(--standard-blue);
    border-radius: 0.66em 0.66em 0 0;
}
h3 {
    margin: 0;
}
p, li, label, strong {
    margin: 0;
    color: var(--h1-blue);
}
p.gray {
    color: #9ba2b3;
}
ul {
    margin: 0;
}
a {
    text-decoration: none;
    color: #275ebd;
}
a.actual-link:hover {
    text-decoration: underline;
}
.active:not(.NavLink.cta) {
    border-bottom: 2px solid white;
}
/*
/////// formatting navbar ///////
*/
nav {
    background-color: var(--standard-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 0;
    box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.25);

    position: sticky;
    top: 0;
    z-index: 1000;
}
nav > h2 {
    font-size: 1.5em;
}
ul.nav {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
}
li.nav {
    color: white;
    list-style: none;
    font-weight: 500;
    font-size: 1.2em;
}
.NavLink {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.NavLink:not(.active) {
    color: var(--light-blue);
}
.NavLink:not(.cta):hover {
    border-bottom: 2px solid var(--light-blue);
    transition: all 0.3s ease;
}
.NavLink.cta {
    color: white;
    background-color: #1f468a;
    padding: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 1em;
    box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.25);
}
.NavLink.cta:hover {
    background-color: #3770d2;
    transition: all 0.3s ease;
}
/////// pages ///////
.page {
    margin: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 4em;
}
.section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}