.bar-container.bottom-bar {
    box-sizing: border-box;
    width: 50%;
    position: fixed;
    bottom: -2em;
    right: 2em;
    border-radius: 1em 1em 0 0;
}

.bar-container-content.bottom-bar {
    max-height: 0;
    // overflow: hidden;
    transition: all 0.3s ease;
}

.bar-container-content.bottom-bar.open {
    max-height: 20em;
    padding-bottom: 4em;
    transition: all 0.3s ease;
}